.container {
  width: 42;
  height: 28px;
  border: 2px solid #53c28b9a;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  gap: 8px;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 12px;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: #53c28b;
  border-radius: 50%;
  position: absolute;
}
