.container {
}

.top {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.title {
  font-size: 40px;
}

.desc {
  font-size: 18px;
  font-weight: 300;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.imageContainer {
  flex: 1;
  height: 300px;
  position: relative;
}

.image {
  object-fit: cover;
}

.content {
  font-size: 20px;
  font-weight: 300;
  text-align: justify;
  margin-top: 50px;
}
